.cancel-container{
    width:500px;
    margin:50px auto;
    padding:25px;
}

.refund-card{
    border:1px solid #ddd;
    padding:20px;
    border-radius:10px;
    margin:20px 0;
    background:#fafafa;
}

.refund-card p{
    margin:12px 0;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#d32f2f;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:disabled{
    opacity:.7;
}